body {
  margin: 0;
  font-family: "Instrument Serif", serif;
  background-color: #070d0d;
  color: #f7f3e3;
  text-align: center;
  font-weight: normal;
}

header {
  padding: 50px;
  background-color: #070d0d;
  color: #f7f3e3;
}

h1 {
  font-weight: normal;
}

#bio {
  font-size: 30px;
  color: #f7f3e3;
  padding: 0px;
  margin: 0px;
  margin-left: 78px;
  text-align: left;
  position:fixed;
  top:80px;
}

#name {
  padding: 0px;
  font-size: 50px;
  margin: 0px;
  line-height: 70%;
  text-align: left;
  position:fixed;
}

#links {
  display: flex;
  justify-content: left;
  gap: 15px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-weight: normal;
  color:#f7f3e3;
}

a {
  text-decoration: none;
  color: #f7f3e3;
  transition: 1s;
}

a:hover {
  transition: 1s;
  color: #a3966a
}

.project-btn {
  padding: 10px 20px;
  margin-top: 400px;
  border-color: #f7f3e3;
  border-width: 1px;
  border-radius: 3px;
  background: #070d0d;
  color: #f7f3e3;
  font-size: 20px;
  font-weight: normal;
  margin: 10px;
  transition: 1s;
  font-family: "Instrument Serif", serif;
  box-shadow: none;
 border-style: solid;
 width: 250px;
 height:100px;
 vertical-align: top;
 text-align: center;
}

.project-btn:hover {
  color:#070d0d;
  background-color: #c7c0b6;
  transition: 1s;
}

.project-btn:active {
  color: #a3966a;
  transition: 0.5s;
}

#controls {
margin-top: 25px;
}

#viewer-container {
  margin: 20px auto;
  width: auto;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
}

#model-container {
  width: auto;
  height: 400px;
  align-items: center;
}

#drawings-container {
  margin: 20px auto;
  border-radius: 3px;
  width: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  transition: opacity 0.5s ease-in-out;
}

#drawings-container img {
  width: auto;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 3px;
  align-items: center;
  transition: opacity 0.5s ease-in-out;

}

#drawings-container img.loaded {
  opacity: 1;
}

#description {
  width: 175px;
  font-size: 16px;
  color: #f7f3e3;
  position:fixed;
  bottom: 50px;
  left: 50px;
  text-align: left;
}
