body {
  margin: 0;
  font-family: "Instrument Serif", serif;
  background-color: #070d0d;
  color: #f7f3e3;
  text-align: center;
  font-weight: normal;
}

header {
  padding: 80px;
  background-color: #070d0d;
  color: #f7f3e3;
}

h1 {
  font-weight: normal;
}

#bio {
  font-size: 30px;
  color: #f7f3e3;
  padding: 0px;
  margin: 0px;
  margin-left: 78px;
  text-align: left;
  position:fixed;
  top:110px;
}

#name {
  padding: 0px;
  font-size: 50px;
  margin: 0px;
  line-height: 70%;
  text-align: left;
  position:fixed;
}

#links {
  margin: 30px auto;
  margin-left: 30px;
  display: flex;
  justify-content: left;
  gap: 15px;
  position: fixed;
  bottom: 20px;
  right: 60px;
  font-weight: normal;
  letter-spacing: .1rem;
  color:#f7f3e3;
}

a {
  text-decoration: none;
  color: #f7f3e3;
  transition: 1s;
}

a:hover {
  transition: 1s;
  color: #a3966a
}

.project-btn {
  padding: 10px 20px;
  border-color: #c7c0b6;
  border-width: 1px;
  border-radius: 3px;
  background: #070d0d;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  margin: 10px;
  transition: 1s;
  font-family: "Instrument Serif", serif;
  box-shadow: none;
 border-style: solid;
 width: 250px;
 height:150px;
 vertical-align: top;
 text-align: center;
}

.project-btn:hover {
  color:#070d0d;
  background-color: #c7c0b6;
  transition: 1s;
}

#viewer-container {
  margin: 20px auto;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
}

#model-container {
  width: 400px;
  height: 400px;
  align-items: center;
}

#drawings-container {
  margin: 20px auto;
  border-radius: 3px;
  width: 750px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  align-items: center;
}

#drawings-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#description {
  margin: 20px auto;
  width: 400px;
  font-size: 16px;
  color: #f7f3e3;
  text-align: center;
  padding: 10px;
  background-color: #070d0d;
  border: 1px solid #ccc;
  border-radius: 5px;
}
